.term-btn {
  padding: 6rpx 10rpx;
  border-radius: 10rpx;
  min-height: 48rpx;

  display: flex;
  align-items: stretch;

  background-color: rgba(0, 0, 0, 0.1);
  &.active {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .title {
    display: block;
    padding: 0 12rpx;
    color: #fff;
  }
}
