.u-setting-navigator {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20rpx 30rpx;
  background-color: $white;
  // border-top: 1rpx solid $gray-200;
  border-bottom: 1rpx solid $gray-200;

  .icon {
    width: 42rpx;
    height: 42rpx;
    margin-right: 16rpx;
  }

  .text {
    font-size: 32rpx;
  }

  .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 32rpx + 30rpx + 10rpx;
    transform: translateY(-50%);

    &>image {
      margin-right: 6rpx;
      width: 42rpx;
      height: 42rpx;
    }

    &>text {
      color: $gray-600;
      font-size: 28rpx;
    }
  }

  .icon-next {
    position: absolute;
    top: 50%;
    right: 32rpx;
    width: 30rpx;
    height: 30rpx;
    transform: translateY(-50%);
  }
}

.u-btn-binding {
  width: 100%;
  text-align: center;
  background-color: #e15152;
  padding: 20rpx 0;
  border-radius: 10rpx;

  .text {
    font-size: 32rpx;
    color: $white;
  }
}

.u-confirm-btn {
  width: 100%;
  text-align: center;
  background-color: $theme-green;
  padding: 20rpx 0;
  border-radius: 10rpx;

  text {
    font-size: 32rpx;
    color: $white;
  }
}