@import "./modules/app-list";
@import "./modules/user-info";
@import "./modules/about";
@import "./modules/wave-logo";
@import "./modules/wave-form";
@import "./modules/help-box";
@import "./modules/loading-box";
@import "./modules/tiny-tip";
@import "./modules/timetable-box";
@import "./modules/footer-bar";
@import "./modules/remind-box";
@import "./modules/score";
@import "./modules/exam";
@import "./modules/freeroom";
@import "./modules/teacher";
@import "./modules/card";
@import "./modules/borrow";
@import "./modules/index-card";
@import "./modules/news";
@import "./modules/cache-tip";
@import "./modules/webview";
@import "./modules/feedback.scss"
