page,
view,
image,
scroll-view,
swiper,
movable-view,
cover-view,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
picker,
picker-view,
radio,
slider,
switch,
textarea,
navigator,
audio,
image,
video,
map,
canvas,
open-data,
contact-button {
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  box-sizing: border-box;
}

image {
  width: auto;
  height: auto;
}

page {
  /*position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  color: #333;
  background-color: #f0eff5;
}

text {
  color: #333;
}
