.red-dot {
  background-color: red;
  &-filled {
    vertical-align: middle;
    text-align: center;
    width: auto;
    border-radius: 15rpx;
    font-size: 24rpx;
    padding: 5rpx 12rpx;
    color: white;
  }
  &-empty {
    text-align: center;
    height: 18rpx;
    width: 18rpx;
    border-radius: 50%;
  }
}
