.m-cache-tip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  // height: 20rpx;
  font-size: 30rpx;
  text-align: center;
  color: $white;
  background-color: rgba(0, 0, 0, 0.4);
}

.m-cache-tip-new {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 48rpx;
  font-size: 24rpx;
  text-align: center;
  color: $white;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin-left: 8rpx;
    width: 20rpx;
    height: 20rpx;
  }

  &.red {
    background-color: $theme-pink;
  }
}
