.m-feedback {
  .feedback-splash {
    width: 60%;
    margin: 64rpx auto 88rpx auto;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .feedback-list {
    background-color: $white;
    margin: 0 64rpx;
    border-radius: 16rpx;

    &-item {
      height: 120rpx;
      display: flex;
      font-size: 12pt;
      padding: 0 48rpx;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 64rpx;
        width: 64rpx;
        border-radius: 12rpx;

        margin-right: 36rpx;

        &-red {
          background-color: $theme-red;
        }
        &-blue {
          background-color: $theme-blue;
        }

        &-content {
          height: 42rpx;
          width: 42rpx;
        }
      }

      &-content {
        margin-right: auto;
        font-weight: bold;
      }

      &-action {
        button {
          margin-right: 0;
          font-size: 10pt;
          color: $white;
          background-color: $theme-green;
          border-radius: 10rpx;
        }
      }
    }

    &-separator {
      margin-left: 48rpx;
      height: 2rpx;
      background-color: $gray-100;
    }
  }
}
