@charset "UTF-8";
$footer-padding: 40rpx;
$footer-font-size: 28rpx;
// 底部包含切换功能的bar
.m-footer-bar {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  border-top-left-radius: 30rpx;
  border-top-right-radius: 30rpx;
  font-size: 30rpx;
  background-color: $white;
  border: 1rpx solid $gray-200;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  box-sizing: content-box;
  @include safe-area-inset-bottom(padding-bottom);

  &.green {
    border: none;
    background: $theme-green;
  }

  &.blue {
    border: none;
    background: $theme-blue;
  }

  &.red {
    border: none;
    background: $theme-pink;
  }

  &.purple {
    border: none;
    background: $theme-purple;
  }

  &.yellow {
    border: none;
    background: $theme-yellow;
  }

  .content {
    position: relative;
    height: 100rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    padding-left: $footer-padding;
    & > text {
      font-size: $footer-font-size;
      color: $white;
    }
  }

  .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    &.horizontal {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &.vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & > text {
      font-size: $footer-font-size;
      color: $white;
    }
  }

  .right {
    padding-right: $footer-padding;
    & > text {
      font-size: $footer-font-size;
      color: $white;
    }
  }

  .switch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100rpx;

    & > .icon {
      width: 30rpx;
      height: 30rpx;
    }
  }

  .cache-tip {
    font-size: 20rpx !important;
    line-height: 100%;
    margin-top: 10rpx;
  }

  .choose-view {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 42rpx;
    height: 42rpx;

    & > text {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      width: 32rpx;
      height: 32rpx;
      line-height: 32rpx;
      text-align: center;
      vertical-align: middle;
      border: 1rpx solid #fff;
      border-radius: 5rpx;
      background: #73b4ef;
      font-size: 24rpx;
      color: $white;
    }

    .active {
      z-index: 2;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
      color: $theme-blue;
      background: #fff;
    }
  }
}
