.m-qna {
  flex: 1;
  padding: 0 30rpx 180rpx 30rpx;
  .qna-content {
    margin-top: 35rpx;
    .qna-list {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      padding: 5rpx 0 15rpx;

      .qna-item {
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        font-size: 30rpx;
        padding: 0 40rpx;
        margin-bottom: 20rpx;
        background-color: $white;
        border-radius: 3px;
        word-break: break-all;

        .head {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 145rpx;

          .arrow {
            flex-shrink: 0;
            width: 30rpx;
            height: 30rpx;
            transition: transform 0.2s;
            transform: rotate(0deg);
          }

          .title {
            max-width: 80%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .name {
            margin-bottom: 10rpx;
            font-size: 32rpx;
            transition: color 0.15s ease-in-out;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .subtitle {
            font-size: 26rpx;
            line-height: 100%;
            color: #aaa;

            .countdown {
              font-size: 26rpx;
              line-height: 100%;
              color: #aaa;

              &.red {
                color: #ff7b7d;
              }
            }
          }
        }

        .detail {
          display: none;
          flex-direction: column;
          overflow: hidden;
          padding: 0;
          .label {
            color: #888;
            width: 150rpx;
          }

          .content {
            flex: 1;
          }
        }

        &.open {
          .head {
            color: $theme-green;
            .arrow {
              transform: rotate(180deg);
            }
          }
          .detail {
            display: flex;
            flex-direction: column;
            padding: 10rpx 0 50rpx;
          }
        }
      }
    }
  }
}
