.m-remind-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 300rpx;

  .remind-img {
    width: 250rpx;
    height: 250rpx;
    padding-bottom: 25rpx;
  }

  .remind-text {
    font-size: 32rpx;
  }

  .remind-btn {
    margin-top: 20rpx;
    font-size: 9pt;
    padding: 5rpx 20rpx;
    text-align: center;
    border-radius: 3px;

    color: #fff;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);

    background-color: $theme-green;

    &.red {
      background-color: $theme-pink;
    }
  }
}
