.m-score {
  flex: 1;
  padding: 0 30rpx 180rpx 30rpx;

  .score-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50rpx 25rpx;
    .info {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 52rpx;
        font-weight: bold;
        line-height: 150%;
        margin-bottom: 15rpx;
        color: #222;

        .eye {
          margin-left: 14rpx;
          width: 36rpx;
          height: 36rpx;
        }
      }
      .info-item {
        font-size: 30rpx;
        line-height: 160%;
        color: #888;
      }
    }

    .logo {
      position: relative;
      display: block;
      width: 200rpx;
      height: 200rpx;
      padding-right: 5rpx;
      opacity: 0.3;

      .icon {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 200rpx;
        height: 200rpx;
      }

      .bg {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 200rpx;
        height: 200rpx;
      }
    }
  }

  .score-content {
    background: $white;
    border-radius: 6rpx;

    .content-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 25rpx 30rpx;
      .main {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .semester {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .term {
            color: $gray-700;
            font-size: 30rpx;
          }

          .name {
            color: $gray-600;
            font-size: 26rpx;
          }
        }

        .gpa {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .title {
            font-size: 46rpx;
            color: $theme-pink;
            font-weight: bold;
            text-align: right;
          }

          .content {
            font-size: 40rpx;
            color: $gray-500;
            text-align: right;
          }
        }
      }

      .logo {
        position: relative;
        display: flex;
        margin-right: 20rpx;
        width: 100rpx;
        height: 100rpx;

        .icon {
          z-index: 2;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100rpx;
          height: 100rpx;
        }

        .eye-close {
          z-index: 2;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50rpx;
          height: 50rpx;
        }

        .bg {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100rpx;
          height: 100rpx;
        }
      }
    }

    .score-list {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      padding: 5rpx 30rpx 15rpx;
      .score-item {
        background: #fff;
        font-size: 30rpx;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #eee;
        padding: 25rpx 10rpx 20rpx 5rpx;
        &.detail {
          display: flex;
          flex-direction: column;
          justify-content: inherit;
          align-items: inherit;
          font-size: 30rpx;
          padding: 0 40rpx;
          background-color: $white;
          border-radius: 3px;
        }

        .score {
          text-align: right;
          width: 100rpx;
        }

        .head {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 145rpx;

          .arrow {
            flex-shrink: 0;
            width: 30rpx;
            height: 30rpx;
            transition: transform 0.2s;
            transform: rotate(0deg);
          }

          .main-info {
            max-width: 80%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .name {
            margin-bottom: 10rpx;
            font-size: 32rpx;
            transition: color 0.15s ease-in-out;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .subtitle {
            font-size: 26rpx;
            line-height: 100%;
            color: #aaa;

            .countdown {
              font-size: 26rpx;
              line-height: 100%;
              color: #aaa;

              &.red {
                color: #ff7b7d;
              }
            }
          }
        }

        .detail-info {
          display: none;
          flex-direction: column;
          overflow: hidden;
          padding: 0;
          .detail-item {
            display: flex;
            align-items: center;
            padding: 25rpx 5rpx 20rpx;
            border-top: 1px solid #eee;
            .label {
              color: #888;
              width: 150rpx;
            }

            .content {
              flex: 1;
            }
          }
        }

        &.open {
          .head {
            .name {
              color: $theme-green;
            }
            .arrow {
              transform: rotate(180deg);
            }
          }

          .detail-info {
            display: flex;
            padding: 5rpx 0 15rpx;
          }
        }
      }
    }
  }
}
