$left-bar-width: 36rpx;
$left-lesson-height: 100rpx;
$timetable-item-width: 130rpx;
$timetable-item-height: $left-lesson-height;
$timetable-header-height: 60rpx;
$timetable-header-width: $timetable-item-width * 7 + $left-bar-width;

@mixin class-card {
  z-index: 98;
  width: $timetable-item-width - 15rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rpx 10rpx 0;
  text-align: center;
  border-radius: 5rpx;
  overflow: hidden;

  .place {
    color: $white;
    font-size: 28rpx;
    line-height: 1em;
  }

  .name {
    color: $white;
    font-size: 28rpx;
    text-align: center;
    margin: auto 0;
    overflow: hidden;
  }

  &.green {
    background-color: $theme-green;
  }

  &.red {
    background-color: $theme-pink;
  }

  &.blue {
    background-color: $theme-blue;
  }

  &.purple {
    background-color: $theme-purple;
  }

  &.yellow {
    background-color: $theme-yellow;
  }
}

.m-timetable-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $white;
  height: $left-lesson-height * 12 + $timetable-header-height + $tabbar-bottom;

  .left-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: $white;

    width: $left-bar-width;
    padding-bottom: $tabbar-bottom;
    border-right: 1rpx solid $gray-200;
    // border-bottom: 1rpx solid $gray-200;

    .lesson-number {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-shrink: 0;

      color: $gray-600;
      font-size: 24rpx;

      .date {
        width: $left-bar-width;
        height: $timetable-header-height;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-top: 1rpx solid $gray-200;
        border-bottom: 1rpx solid $gray-200;
      }

      .number {
        height: $left-lesson-height;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .timeline-arrow {
      position: absolute;
      margin-top: $timetable-header-height;
      left: 0;
      width: 0;
      height: 0;
      line-height: 0;
      border: 10rpx solid transparent;
      border-left-color: #0069d9;
      transform: translateY(-50%);
      opacity: 0.6;
    }
  }

  .timetable-box {
    height: $left-lesson-height * 12 + $timetable-header-height + $tabbar-bottom;
    min-height: 100vh;

    .timetable-header {
      display: flex;
      flex-direction: row;
      width: $timetable-header-width;
      height: $timetable-header-height;
      padding-left: $left-bar-width;
      overflow: hidden;
      border-top: 1rpx solid $gray-200;
      border-bottom: 1rpx solid $gray-200;
      background-color: #fff;

      .weekday {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 130rpx;
        height: $timetable-header-height;
        font-size: 24rpx;
        color: $gray-600;
      }
    }

    .timetable-content {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      width: $timetable-item-width * 7 + $left-bar-width;
      height: $left-lesson-height * 12 + $timetable-header-height +
        $tabbar-bottom;
      min-height: calc(100vh - #{$timetable-header-height});

      .timeline {
        position: absolute;
        z-index: 99;
        left: $left-bar-width;
        right: 0;
        top: 50%;
        margin-top: -2rpx;
        width: $timetable-item-width;
        height: 5rpx;
        background: #0069d9;
        opacity: 0.6;
      }

      .today {
        position: absolute;
        z-index: 98;
        width: $timetable-item-width;
        left: $left-bar-width;
        top: 0;
        bottom: 0;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#eff7ff),
          color-stop(0.5, #bbe1ff),
          to(#eff7ff)
        );
      }

      .card-content {
        display: flex;
        flex-direction: row;
        padding-left: $left-bar-width;
        width: 100%;

        .day-lessons {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;

          .lesson {
            position: relative;
            height: $timetable-item-height;

            .conflict {
              position: absolute;
              z-index: 98;
              top: 8rpx;
              right: 8rpx + 4rpx;
              width: 16rpx;
              height: 16rpx;
            }

            .card {
              position: absolute;
              left: 50%;
              top: 5rpx;
              transform: translateX(-50%);

              @include class-card;
            }
          }
        }
      }
    }
  }

  .lesson-detail {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 500rpx;
    background: rgba(166, 166, 166, 0.45);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    .detail-content {
      display: flex;
      flex-direction: row;

      .card {
        margin-left: 64rpx;

        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

        @include class-card;

        &:first-child {
          margin-left: 0;
        }

        &.active {
          transform: scale(1.2);
        }
      }
    }
  }

  .footer-card-tabs {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500rpx;
    background: $theme-blue;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, 100%, 0);

    &.open {
      transform: translate3d(0, 0, 0);
    }

    .header {
      position: relative;
      color: #fff;
      height: 100rpx;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .week {
        width: 150rpx;
        padding: 20rpx 10rpx;
        text-align: center;
        font-size: 30rpx;
      }

      .lesson-time {
        flex: 1;
        width: 250rpx;
        text-align: left;
        padding-left: 10rpx;
        font-size: 26rpx;
      }

      .card-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 30rpx + 70rpx;
        height: 30rpx + 50rpx;
        padding: 25rpx 35rpx;
      }
    }

    .card-tabs {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;
      margin-bottom: 30rpx;

      .switch-left,
      .switch-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        top: 0;
        bottom: 0;
        padding: 0 10rpx;
        opacity: 0.4;
        & > image {
          width: 30rpx;
          height: 30rpx;
        }
      }

      .switch-left {
        left: 0;
      }
      .switch-right {
        right: 0;
      }

      .card-swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        // margin: 0 40rpx;
        height: 400rpx;

        .card {
          width: 600rpx !important;
          height: 320rpx !important;
          margin: 0 36rpx + 40rpx;
          padding-top: 20rpx;
          border-radius: 20rpx;
          box-shadow: -10rpx 20rpx 40rpx -10rpx rgba(100, 100, 100, 0.5);

          display: flex;
          flex-direction: column;

          .name {
            display: block;
            max-height: 88rpx;
            font-size: 44rpx;
            color: $white;
            padding: 20rpx 20rpx 12rpx;
            line-height: 1em;
            overflow: hidden;
          }

          .content {
            display: flex;
            align-items: center;
            justify-content: stretch;
            margin: auto 0;
            .type {
              width: 40rpx;
              padding: 10rpx 0;
              margin: 0 32rpx;
              font-size: 26rpx;
              color: $white;
              border-radius: 8rpx;
              background-color: $theme-pink;
              line-height: 32rpx;
              text-align: center;
              word-wrap: break-word;
            }

            .info {
              flex: 1;
              overflow: hidden;
              margin-right: 16rpx;
              &-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .item-content {
                  font-size: 32rpx;
                  color: $white;
                  @include text-ellipsis;
                }

                .item-label {
                  font-size: 26rpx;
                  color: $white;
                }

                .teacher-contact {
                  width: 36rpx;
                  margin-left: 12rpx;
                }
              }
            }
          }
        }
      }
    }
  }
}
