.m-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25rpx 30rpx 40rpx;
  background-color: $theme-green;

  .left {
    display: flex;
    flex-direction: row;

    .avatar {
      margin-right: 20rpx;
      width: 120rpx;
      height: 120rpx;
      border-radius: 10rpx;
      background-color: $white;
      border: 1rpx solid #93eac1;
      overflow: hidden;

      image {
        width: 100%;
        height: 100%;
      }
    }

    .main-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 280rpx;

      .name {
        margin-bottom: 6rpx;
        color: $white;
        font-size: 40rpx;

        @include text-ellipsis;
      }

      .uno {
        color: $white;
        font-size: 28rpx;
        opacity: 0.8;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .time-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      margin-right: 32rpx;

      .term {
        color: $white;
        font-size: 28rpx;
        opacity: 0.8;
      }

      .week {
        margin-top: 24rpx;
        color: $white;
        font-size: 28rpx;
        opacity: 0.8;
      }
    }

    .icon-next {
      width: 32rpx;
      height: 32rpx;
    }
  }
}
