.m-borrow {
  .main-info {
    display: flex;
    background: #fefefe;
    border-bottom: 1rpx solid #eee;

    .info-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 30rpx;
      line-height: 120%;
      height: 150rpx;
      padding: 20rpx;
      border-right: 1rpx solid #eee;
      .label {
        color: #777;
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        .value {
          font-size: 74rpx;
          color: $theme-blue;
          font-weight: bold;
          line-height: 74rpx;
        }

        .unit {
          margin-left: 10rpx;
          display: flex;
          color: #999;
          font-size: 26rpx;
          align-self: flex-end;
        }
      }
    }
  }

  .book-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25rpx 30rpx;

    .tip {
      color: #777;
      font-size: 24rpx;
      line-height: 200%;
      margin-bottom: 15rpx;
    }

    .book-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      overflow: hidden;
      padding: 20rpx 30rpx;
      margin-bottom: 20rpx;
      background: $white;
      border-radius: 3px;

      .title {
        padding: 10rpx 0 20rpx;
        font-size: 36rpx;
      }

      .book-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24rpx;
        color: #888;
        .borrow-date {

        }

        .return-date {

        }

        .label {

        }

        .value {

        }
      }
    }
  }
}