.m-card {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 350rpx;
    margin: 25rpx 50rpx 45rpx;
    background: $theme-yellow;
    border-radius: 15rpx;
    box-shadow: 5rpx 5rpx 15rpx #ccc;

    .black-line {
      position: absolute;
      top: 40rpx;
      left: 0;
      right: 0;
      height: 80rpx;
      background: #7b7b7b;
    }

    .icon {
      position: absolute;
      right: 0;
      top: 40rpx + 80rpx;
      width: 200rpx;
      height: 200rpx;
    }

    .date {
      position: absolute;
      left: 26rpx;
      bottom: 10rpx;
      font-size: 24rpx;
      opacity: .6;
    }

    .uno {
      position: absolute;
      right: 26rpx;
      bottom: 10rpx;
      font-size: 26rpx;
      opacity: .6;
    }

    .content {
      position: absolute;
      left: 30rpx;
      top: 40rpx + 80rpx + 30rpx;
      color: #777;

      .label {
        font-size: 30rpx;
      }

      .balance {
        padding-left: 70rpx;
        .value {
          padding-right: 25rpx;
          color: #777;
          font-size: 96rpx;
          font-weight: bold;
          line-height: 80rpx;
        }
        .unit {
          color: #777;
          font-size: 26rpx;
        }
      }
    }
  }

  .mask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300rpx;
    background-color: rgba(0, 0, 0, .1);
    color: $white;
    border-radius: 20rpx;
  }

  .balance-graph {
    position: relative;

    .label {
      margin-bottom: 25rpx;
      padding-left: 40rpx;
      color: #999;
      font-size: 28rpx;
    }

    .tab-list {
      display: flex;
      margin: 0 45rpx 10rpx;
      border-radius: 5px;
      box-shadow: 0 0 10rpx #ddd;
      overflow: hidden;

      .tab {
        flex: 1;
        line-height: 150%;
        font-size: 26rpx;
        padding: 12rpx 0;
        font-weight: bold;
        text-align: center;
        background: #fff;
        &.active {
          color: #fff;
          background: #ffcb63;
        }

      }
    }

    .graph-area {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50rpx;
      width: 100%;
      height: 300px;

      &>canvas {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }

      .line {
        position: absolute;
        z-index: 999;
        top: 15px;
        height: 265px;
        width: 6rpx;
        background: $theme-red;
      }

      .y-text {
        position: absolute;
        left: 15rpx;
        top: -40rpx;
        padding: 0 10rpx;
        font-size: 24rpx;
        color: #999;
      }

      .x-text{
        position: absolute;
        right: 25rpx;
        bottom: -10rpx;
        padding: 0 10rpx;
        font-size: 24rpx;
        color: #999;
      }
    }
  }

  .tip {
    font-size: 24rpx;
    line-height: 100%;
    color: #aaa;
    text-align: center;
    margin: 30rpx 5rpx;
  }

  .card-detail {
    display: flex;
    flex-direction: column;
    margin: 0 30rpx 100rpx;
    background: $white;
    border-radius: 3px;
    .head {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120rpx;
      .text {
        font-size: 30rpx;
      }
    }

    .detail-list {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 0 35rpx 10rpx;

      .detail-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25rpx 5rpx 20rpx;
        border-top: 1px solid #eee;
      }
      .detail-item-label {
        width: 180rpx;
        color: #888;
        font-size: 30rpx;
      }
      .detail-item-value {
        flex: 1;
        font-size: 30rpx;
        color: #666;
      }
    }
  }
}