.m-index-card {
  position: relative;
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;

  &>.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30rpx;
    height: 70rpx;
    border-bottom: 1rpx solid $gray-200;
    .image {
      position: relative;
      display: block;
      width: 40rpx;
      height: 40rpx;
      margin-right: 10rpx;

      .icon {
        z-index: 9;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      .icon-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    .title {
      flex: 1;
      font-size: 24rpx;
      color: #888;
    }
  }

  &>.content {
    padding: 0 30rpx;
  }

  &>.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72rpx;
    border-top: 1rpx solid $gray-200;
    font-size: 24rpx;
    color: #7f848a;
  }

  .timetable-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    .timetable-item {
      display: flex;
      flex-direction: row;
      height: 120rpx;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dotted #e5e5e5;
      &:last-child {
        border-bottom: none;
      }
      .main-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 70%;
        .name {
          line-height: 200%;
          font-size: 32rpx;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .info {
          font-size: 24rpx;
          line-height: 125%;
          color: #666;
        }
      }

      .place {
        font-size: 38rpx;
        letter-spacing: 1px;
      }
    }

    .timetable-nothing {
      padding: 30rpx 0;
      font-size: 32rpx;
      text-align: center;
    }
  }

  .card-card {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10rpx 0;
      .label {
        font-size: 26rpx;
      }

      .date {
        font-size: 26rpx;
      }
    }

    .balance {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-weight: bold;
      padding: 25rpx 0 30rpx;
      .value {
        font-size: 96rpx;
        line-height: 1;
        padding: 0 20rpx;
        color: #ffbf92;
      }

      .unit {
        font-size: 46rpx;
        color: #999;
      }
    }

    .today {
      .label {
        font-size: 26rpx;
      }

      .cost {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20rpx 0 30rpx;
        font-weight: bold;
        line-height: 200%;
      }
    }
  }

  .borrow-card {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20rpx 0 20rpx;
      color: $gray-600;
      .label {
        font-size: 26rpx;
      }

      .date {
        font-size: 26rpx;
      }
    }

    .borrow-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      .borrow-item {
        display: flex;
        flex-direction: column;
        padding: 5rpx 5rpx 50rpx 38rpx;
        margin-bottom: 10rpx;
        .book {
          position: relative;
          width: 176rpx;
          height: 231rpx;
          overflow: hidden;
          .icon-book {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }

          .title {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            position: absolute;
            top: 5rpx;
            left: 30rpx;
            font-weight: bold;
            line-height: 150%;
            color: $white;
            font-size: 28rpx;
            word-wrap: break-word;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        .return, .borrow {
          font-size: 26rpx;

          .date {
            font-size: 26rpx;
            font-weight: bold;
            color: #729fc3;
            padding: 0 8rpx;
          }
          .unit {
            font-size: 24rpx;
            color: #acacac;
          }
          &.red {
            .date {
              color: #ff7b7d;
            }
          }
        }
      }
    }
  }
}