$left-bar-width: 36rpx;
$left-lesson-height: 100rpx;
$left-date-height: 60rpx;
$timetable-item-width: 130rpx;
$timetable-item-height: $left-lesson-height;
$timetable-header-height: 60rpx;
$timetable-header-width: $timetable-item-width * 7 + $left-bar-width;

.m-timetable-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $white;
  height: $left-lesson-height * 12 + $left-date-height + $tabbar-bottom;

  .lesson-number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    padding-top: $left-date-height;
    width: $left-bar-width;
    border-right: 1rpx solid $gray-200;
    padding-bottom: $tabbar-bottom;
    background: $white;

    .date {
      position: absolute;
      top: 0;
      left: 0;
      width: $left-bar-width;
      height: $left-date-height;
      font-size: 24rpx;
      color: $gray-600;
      text-align: center;
      line-height: $left-date-height;
      vertical-align: middle;
      border-bottom: 1rpx solid $gray-200;
      border-right: 1rpx solid $gray-200;
    }

    .number {
      height: $left-lesson-height;
      font-size: 24rpx;
      color: $gray-600;
      text-align: center;
      line-height: $left-lesson-height;
      vertical-align: middle;
    }
  }

  .timetable-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: $left-lesson-height * 12 + $left-date-height + $tabbar-bottom;

    .timetable-header {
      z-index: 999;
      display: flex;
      flex-direction: row;
      width: $timetable-header-width;
      height: $timetable-header-height;
      padding-left: $left-bar-width;
      overflow: hidden;
      background: $white;
      border-top: 1rpx solid $gray-200;
      border-bottom: 1rpx solid $gray-200;
      background-color: #fff;

      .weekday {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 130rpx;
        font-size: 24rpx;
        color: $gray-600;
      }
    }

    .timetable-content {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      width: $timetable-item-width * 7 + $left-bar-width;
      height: $left-lesson-height * 12 + $left-date-height + $tabbar-bottom;

      .timeline {
        position: absolute;
        z-index: 100;
        left: $left-bar-width;
        right: 0;
        top: 50%;
        margin-top: -2rpx;
        width: $timetable-item-width;
        height: 5rpx;
        background: #0069d9;
        opacity: .6;
      }

      .timeline-arrow {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 0;
        height: 0;
        line-height: 0;
        border: 10rpx solid transparent;
        border-left-color: #0069d9;
        transform: translateY(-50%);
        opacity: .6;
      }

      .today {
        position: absolute;
        z-index: 98;
        width: $timetable-item-width;
        left: $left-bar-width;
        top: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#eff7ff), color-stop(0.5, #bbe1ff), to(#eff7ff));
      }

      .card-content {
        display: flex;
        flex-direction: row;
        padding-left: $left-bar-width;
        width: 100%;

        .day-lessons {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;

          .lesson {
            position: relative;
            height: $timetable-item-height;

            .conflict {
              position: absolute !important;
              z-index: 999;
              top: 8rpx;
              right: 8rpx + 4rpx;
              display: inline-block;
              width: 12rpx;
              height: 6rpx;
              border-radius: 2rpx;
              background: #fff;
            }

            .card {
              position: absolute;
              z-index: 99;
              left: 50%;
              top: 5rpx;
              transform: translateX(-50%);
              width: $timetable-item-width - 15rpx;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 10rpx 10rpx 0;
              text-align: center;
              border-radius: 5rpx;
              overflow: hidden;

              .place {
                height: 2.2em;
                color: $white;
                font-size: 28rpx;
                line-height: 38rpx;
              }

              .name {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                font-size: 28rpx;
                overflow: hidden;
              }

              &.green {
                background-color: $theme-green;
              }

              &.red {
                background-color: $theme-red;
              }

              &.blue {
                background-color: $theme-blue;
              }

              &.purple {
                background-color: $theme-purple;
              }

              &.yellow {
                background-color: $theme-yellow;
              }
            }
          }
        }
      }
    }
  }

  .lesson-detail {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 500rpx;
    background: rgba(166, 166, 166, .45);
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);

    .detail-content {
      display: flex;
      flex-direction: row;

      .card {
        z-index: 99;
        width: $timetable-item-width - 15rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rpx 10rpx 0;
        margin-left: 100rpx;
        text-align: center;
        border-radius: 5rpx;
        overflow: hidden;
        transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);

        &:first-child {
          margin-left: 0;
        }

        &.active {
          transform: scale(1.2);
        }

        .place {
          height: 2.2em;
          color: $white;
          font-size: 28rpx;
          line-height: 120%;
        }

        .name {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-size: 28rpx;
          overflow: hidden;
        }

        &.green {
          background-color: $theme-green;
        }

        &.red {
          background-color: $theme-red;
        }

        &.blue {
          background-color: $theme-blue;
        }

        &.purple {
          background-color: $theme-purple;
        }

        &.yellow {
          background-color: $theme-yellow;
        }
      }
    }
  }

  .footer-card-tabs {
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500rpx;
    background: $theme-blue;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, 100%, 0);

    &.open {
      transform: translate3d(0, 0, 0);
    }

    .header {
      position: relative;
      color: #fff;
      height: 100rpx;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .week {
        width: 150rpx;
        padding: 20rpx 10rpx;
        text-align: center;
        font-size: 30rpx;
      }

      .lesson-time {
        flex: 1;
        width: 250rpx;
        text-align: left;
        padding-left: 10rpx;
        font-size: 26rpx;
      }

      .card-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 30rpx + 70rpx;
        height: 30rpx + 50rpx;
        padding: 25rpx 35rpx;
      }
    }

    .card-tabs {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;
      margin-bottom: 30rpx;

      .switch-left, .switch-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        top: 0;
        bottom: 0;
        padding: 0 10rpx;
        opacity: .4;
        &>image {
          width: 30rpx;
          height: 30rpx;
        }
      }

      .switch-left {
        left: 0;
      }
      .switch-right {
        right: 0;
      }

      .card-swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        // margin: 0 40rpx;
        height: 400rpx;

        .card {
          position: relative;
          width: 600rpx !important;
          height: 320rpx !important;
          margin: 0 36rpx + 40rpx;
          padding-top: 20rpx;
          border-radius: 20rpx;
          box-shadow: -10rpx 20rpx 40rpx -10rpx rgba(100, 100, 100, .5);

          .name {
            display: flex;
            align-items: center;
            height: 100rpx;
            width: 580rpx;
            font-size: 44rpx;
            color: $white;
            padding: 0 0 20rpx 20rpx;
          }

          .type {
            position: absolute;
            top: 50%;
            left: 40rpx;
            width: 40rpx;
            padding: 10rpx 0;
            font-size: 26rpx;
            color: $white;
            margin: 6rpx 0;
            border-radius: 8rpx;
            background-color: $theme-red;
            line-height: 32rpx;
            text-align: center;
            word-wrap: break-word;
          }

          .content {
            margin: 10rpx 0 0 100rpx;

            .info-item {
              .item-content {
                font-size: 32rpx;
                color: $white;
              }

              .item-label {
                font-size: 26rpx;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}